node_modules/
dist/
.nuxt/
__pycache__/

microservices/QPCR_AUTOMATION/node_modules
microservices/QPCR_AUTOMATION/.env
airflow/logs/
airflow/qpcr_automation/
airflow/qpcr_automation_store/
data/
airflow/.env
microservices/REPORT/.env
